.flex-container {
    height: 6%;
    background-color: rgb(255, 255, 255);
    padding: 4%;
    border-radius: 5px;
    border: black 20px;
    font-weight: 500;
    display: flex;
    margin: 0 auto;
}

.buttons {
    margin-top: 0px;
    line-height: 20px;
    font-weight: bold;
    padding: 10px 100px;
    border-radius: 5px;
    border-width: 20px;
    background: rgb(230, 255, 118);
    border: 1px solid black;
    display: flex;
    margin: 0 auto;
  } 

  .container {
    height: 6%;
    background-color: rgb(255, 255, 255);
    padding: 4%;
    border-radius: 5px;
    border: black 20px;
    font-weight: 500;
    display: flex;
    margin: 0 auto;
    border: 1px solid black;
    grid-gap: 15px;
}

  .square {
    height: 100px;
    width: 100px;
    font-size: large;
    border: 2px solid black;
    background: rgb(255, 255, 255);
    position: flex;
    margin: 0 auto;
    border-radius: 5px;
  }

  div {
    margin: 0 auto;
  }

  